<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>Studio Ghibli</title>
</head>
<body>
  {% for movie in movies %}
    <h1>{{movie.title}}</h1>
    <p>by {{movie.director}}</p>
    <p>{{movie.description}}</p>
    {% if movie.people == None %}
    <p class="warning"><strong> couldn't retrieve people list </strong></p>
    {% elif movie.people %}
    <ul>
	{% for person in movie.people %}
	<li> {{person.name}} </li>
	{% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
</body>
</html>
